<div class="mt-4 container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thesis and Advisor</h1>
    </div>

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Advisor Information</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            อาจารย์ที่ปรึกษา
                        </div>
                        <div class="col-xl-9">
                            <select id="advisor-lists" class="form-control">
                                <option value="" disabled selected>--- โปรดเลือก ---</option>
                                <option *ngFor="let advisors of advisorOption" [value]="advisors.code">{{ advisors.description }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            หัวข้อ
                        </div>
                        <div class="col-xl-9">
                            <input id="thesis-topic" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <a href="#" class="btn btn-success btn-icon-split">
                            <span class="text">ส่งคำร้องขอกับอาจารย์ที่ปรึกษา</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Thesis Information</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            สถานะ
                        </div>
                        <div class="col-xl-9">
                            ยังไม่มีอาจารย์ที่ปรึกษา
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>