<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div> -->
<div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่มรายการวิชา</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
       <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row mb-4">
            <div class="col-xl-3">
                รหัสวิชา
            </div>
            <div class="col-xl-9">
                <input id="thesis-topic" class="form-control" type="text">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3">
                ชื่อวิชา
            </div>
            <div class="col-xl-9">
                <input id="thesis-topic" class="form-control" type="text">
            </div>
        </div>
        <div class="text-center mb-4">
            เวลาเรียน
        </div>
        <div class="row mb-4">
            <div class="col-xl-3">
                ทุกวัน
            </div>
            <div class="col-xl-9">
                <select id="advisor-lists" class="form-control">
                    <option value="" disabled selected>--- โปรดเลือก ---</option>
                    <option *ngFor="let day of dayOption" [value]="day">{{ day }}</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-3">
                เวลา
            </div>
            <div class="col-xl-9">
                <select id="advisor-lists" class="form-control">
                    <option value="" disabled selected>--- โปรดเลือก ---</option>
                    <option *ngFor="let time of timeOption" [value]="time">{{ time }}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="cancel()" class="btn btn-secondary btn-icon-split">
            <span class="text">ยกเลิก</span>
        </a>
        <a (click)="confirm()" class="btn btn-success btn-icon-split">
            <span class="text">บันทึก</span>
        </a>
 </div>