  <div class="mt-4 container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Information</h1>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Personal Information</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            ชื่อ
                        </div>
                        <div class="col-xl-9">
                            Nudthaya
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            นามสกุล
                        </div>
                        <div class="col-xl-9">
                            Khemcharoen
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            Email
                        </div>
                        <div class="col-xl-9">
                            nudthaya&#64;chula.com
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            รหัสนิสิต
                        </div>
                        <div class="col-xl-9">
                            667
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            GPAX
                        </div>
                        <div class="col-xl-9">
                            4.00
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-xl-3">
                            สถานะ
                        </div>
                        <div class="col-xl-9">
                            กำลังศึกษา
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>