<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-5 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            
                            <h1 class="h4 text-gray-900 mb-4">Approve sign in request</h1>
                            <div>
                                <fa-icon class="icon" [icon]="faSecurity"></fa-icon>
                                <span>Open your Authenticator app, and enter the number shown to sign in.</span>
                            </div>
                            
                            <div class="text-center mt-4 font-weight-bold">{{authen}}</div>
                            <div class="mt-4">
                                <span>No numbers in your app? Make sure to upgrade to the latest version.</span>
                            </div>
                            <div class="row justify-content-center mt-4">
                                <a routerLink="" class="btn btn-success btn-icon-split">
                                    <span class="text">Verify</span>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
