<div>
    <div id="wrapper">
        <app-slide-bar></app-slide-bar>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="mt-4 container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Course Detail</h1>
                    </div>
                
                    <!-- Content Row -->
                
                    <div *ngIf="course" class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{course.desc}}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>รหัสวิชา</th>
                                            <th>ชื่อวิชา</th>
                                            <th>เวลาเรียน</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of course.subject; let i = index">
                                            <td>{{subject.subjectId}}</td>
                                            <td>{{subject.name}}</td>
                                            <td>{{subject.schedule}}</td>
                                            <td class="text-center"><a class="btn btn-danger btn-icon-split" (click)="onClickDelete(subject.subjectId)">
                                                <span class="text">ลบ</span>
                                            </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <a routerLink="/course-setting" class="btn btn-secondary btn-icon-split mr-4">
                                    <span class="text">ย้อนกลับ</span>
                                </a>
                                <a (click)="onClickAddSubject()" class="btn btn-primary btn-icon-split">
                                    <span class="text">เพิ่มวิชา</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>