<!-- Sidebar -->
<div>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href=""> 
            <!-- <fa-icon [icon]="faInfo"></fa-icon> -->
            <div class="sidebar-brand-text mx-3">Nudthaya</div>
        </a>
    
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
    
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="">
                <fa-icon class="icon" [icon]="faNoti"></fa-icon>
                <span>Notification</span></a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/info">
                <fa-icon class="icon" [icon]="faInfo" ></fa-icon>
                <span>Information</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/enrollment">
                <fa-icon class="icon" [icon]="faEnrollment"></fa-icon>
                <span>Enrollment</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/thesis-advisor">
                <fa-icon class="icon" [icon]="faThesis"></fa-icon>
                <span>Thesis & Advisor</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard">
                <fa-icon class="icon" [icon]="faDashboard"></fa-icon>
                <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/login">
                <fa-icon class="icon" [icon]="faLogOut"></fa-icon>
                <span>Logout</span></a>
        </li>
        
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
    </ul>
</div>
<!-- End of Sidebar -->
